.nd-btns-div {
    display: flex;
    justify-content: space-between;
}
.succes {
    margin: 0 auto;
    color: green;
}
.nd-btns {
    background-color: red !important;
    margin-right: 5px;
}
/*remove some usless elements*/
div[data-testid="add_answer_reminder"] {
    display: none !important;
}
div[data-testid="answering_feed"] {
    display: none !important;
}
.sg-flex.sg-flex--margin-top-m.sg-flex--margin-right-m.sg-flex--margin-bottom-l.sg-flex--margin-left-m {
    display: none !important;
}
.brn-challenge-confetti {
    display: none !important;
}